<!DOCTYPE html>
<html>
<head>
    <title>Заказ в магазине Культура</title>
</head>
<body style="background-color: white">
<div style="width: 100%; margin-bottom: 50px;">
    <img src="https://rockshop.ru/img/logo360.png">
</div>

<h1 style="text-align: center">Заказ успешно создан</h1>
<p>
    {{order.name}}, благодарим Вам за заказ!
    Ожидайте звонка администратора с номера +7999999999 для подтверждения заказа.
    Мы будем звонить на номер {{order.phone}}, если вы случайно указали неверный номер,
    пожалуйста, позвоните нам самостоятельно.
    <br>
    <b>Если мы не сможем дозвониться в течение 2 рабочих дней, заказ будет отменен.</b>
</p>
<h2>Номер заказа <span style="color: #0a6ebd">{{order.customer_id}}</span></h2>
<h2>Корзина</h2>
<p>{{ order.cart_html }}</p>
<h2>К оплате: {{ order.cart_total }}</h2>

</body>
</html>